@import "custom";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	-webkit-user-select: none;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	height: calc(100vh - 51px);
	overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

.navbar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.window-controls {
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	padding-left: 0.7rem !important;
	padding-right: 0.7rem !important;
	display: flex;
}

a:hover,
a:focus {
	color: #4e4e8a !important;
}

.menu {
	border-radius: 0rem;
	background-color: #bdcce2;
}

a.list-group-item {
	display: flex;
	background-color: #bdcce2;
}

.mta-51 {
	margin-top: 51px !important;
}

.svg-pad {
	margin: 0 0 0 10px;
}

.mt-015 {
	margin-top: 0.15rem !important;
}

.displayContent {
	width: 901px;
	overflow-y: scroll;
}

.pt-1 {
	padding-top: 0.125rem !important;
}
